goldmark:
  parser:
    wrapStandAloneImageWithinParagraph: false
    attribute:
      block: true
  renderer:
    unsafe: true

highlight:
  noClasses: false

tableOfContents:
  startLevel: 2
  endLevel: 4
